#mapCanvas {
    width: 85%;
    height: 58%;
   
  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }

 #city_country{size:150;}

  body{
    background-color:#384047;
    
    font-size:1.25em;
    } 



table{  
  background-color:#009688;
  margin: 10px auto 10px;
  border-radius: 5px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.8);
  width: 45%;
  height: 12%;
  padding:15px;

}

#mapCanvas {  
  background-color:#fff;
  margin: 30px auto 10px;
  border-radius: 5px;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 1);

}

h3{color: #fff;}
.maindiv {
  background: #3f51b5;,
  
  display: block;
  height:95%;
  width: 80%;
  margin: 30px auto 10px;
  border-radius: 5px;
   box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.8);
}